<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile - Buff Bets</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #cfb87c; /* CU Boulder Gold */
            color: #ffffff;
            text-align: left;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 70%;
            height: 100%;
            /* margin: 30px auto; */
            background: #000; /* Black Background */
            padding: 20px;
            /* border-radius: 10px; */
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
        }

        h1 {
            color: #cfb87c; /* CU Boulder Gold */
        }

        h5 {
            color: #ffffff;
        }

        .list-container {
            width: 100%;
            margin: 10px auto;
            background: #141414;
            padding: 10px;
            border-radius: 10px;
        }

        .list-container p{
            margin: 2px 0;
        }

    </style>
</head>
<body>
    <div class="container">
        <h1>Profile</h1>
        <h5>Name</h5>
        <h5>Username</h5>
        <div class="list-container">
            <h5>Friends</h5>
            <p>Friend 1</p>
            <p>Friend 2</p>
            <p>Friend 3</p>
        </div>
        <div class="list-container">
            <h5>Bet History</h5>
            <p>Bet 1</p>
            <p>Bet 2</p>
            <p>Bet 3</p>
        </div>
    </div>
</body>
</html>
